
<div class="btn-group" ng-class="{open: open}">
    <button type="button" class="btn btn-default dropdown-toggle" ng-click="open=!open">
    Projects <span class="caret">
    </span></button>
    <ul class="dropdown-menu">
        <li ng-repeat="item in projects">
            <a ng-click="setProject(item)">{{item}}</a>
        </li>
    </ul>
</div>    

<hr>
<div ng-show="command_needs_yesno.dependencies">
	<p>Dependencies</p>
	<ul>
	<li ng-repeat="(name,s) in command_needs.dependencies"> {{name}} : {{s.type}} </li>
	</ul>
</div>
<div ng-show="command_needs_yesno.settings">
	<p>Settings</p>
	<ul>
	<li ng-repeat="(name,s) in command_needs.settings"> {{name}} : {{s.type}} </li>
	</ul>
</div>

<!-- settings:{{command_needs.settings.keys()}}: {{command_needs.settings.length>0}}
 -->
<hr>


   <div class="btn-group" ng-class="{open: openm}">
        <button type="button" class="btn btn-default dropdown-toggle" ng-click="openm=!openm">Commands <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li ng-repeat="(name,c) in commands">
                <a ng-click="setTodo(c)">{{name}}</a>
            </li>
        </ul>
    </div>    
{{commands}}