{% extends "base.html" %}
{% load staticfiles %}


{% block add_css %}
   <link href="{% static 'base/lib/leaflet/leaflet.css' %}" rel="stylesheet">
   <link href="{% static 'base/lib/leaflet/leaflet.draw.css' %}" rel="stylesheet">
   <link href="{% static 'base/css/tsxcat.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
	<div data-ng-app="TSXCatalogue">
		<div>
		        <div data-ng-view=""></div>
	    </div>

	</div> <!-- run by angular app -->
{% endblock %}

{% block add_scripts %}
	<script src="{% static 'base/lib/leaflet/leaflet.js' %}"></script>
	<script src="{% static 'base/lib/leaflet/leaflet.draw.js' %}"></script>
	
	<script src="{% static 'base/lib/angular-leaflet-directive.min.js' %}"></script>
	<script src="{% static 'base/lib/ui-bootstrap-tpls-0.10.0.js' %}"></script>
	
	<script src="{% static 'base/js/app.js' %}"></script>
	<script src="{% static 'base/js/controllers2.js' %}"></script>
	<script src="{% static 'base/js/mapcontroller.js' %}"></script>
	<script src="{% static 'base/js/services.js' %}"></script>
	<script src="{% static 'base/js/directives.js' %}"></script>
	<script src="{% static 'base/js/directives_dragdrop.js' %}"></script>
	<script src="{% static 'base/js/angular-refresh.js' %}"></script>
	<!-- <script src="{% static 'base/js/follow-celery-task.js' %}"></script> -->
{% endblock %}
